<div class="flex min-h-screen flex-col lg:flex-row">
  <!-- Left Section -->
  <div class="hidden flex-1 items-center justify-center bg-[#00b54a] lg:flex">
    <img src="https://i.imgur.com/96oFoUg.png" alt="Illustration" class="max-w-md" />
  </div>

  <!-- Right Section -->
  <div class="flex flex-1 items-center justify-center bg-[#0f1e13]">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      class="my-10 mx-auto w-full max-w-md space-y-6 px-4 sm:px-8 lg:px-16">
      <div class="text-center">
        <img
          src="https://image.makewebeasy.net/makeweb/m_1920x0/7L4OqPuEK/DefaultData/LOGO_Shizen_png_160x160.png"
          alt="Logo"
          class="w-25 mx-auto mb-4 rounded-md bg-white" />
        <h2 class="mb-1 text-2xl font-semibold text-white sm:text-3xl">ลงทะเบียน<span class="text-primary"></span></h2>
        <p class="text-xs text-[#a8f0b2] sm:text-sm">ป้อนข้อมูลประจำตัวของคุณเพื่อสร้างบัญชีของคุณ</p>
      </div>

      <!-- Image Upload Section -->
      <div class="flex flex-col items-center space-y-2">
        <label for="file-upload" class="cursor-pointer">
          <img
            [src]="imageUrl ? imageUrl : 'https://via.placeholder.com/150'"
            alt="User avatar"
            class="h-32 w-32 rounded-full border-2 border-primary object-cover" />
        </label>
        <input type="file" id="file-upload" (change)="onFileSelected($event)" accept="image/*" class="hidden" />
        <p class="text-sm text-[#a8f0b2]">คลิ๊กเพื่ออัปโหลดรูปภาพ</p>
      </div>

      <div class="space-y-4 text-left">
        <!-- Username -->
        <div class="relative">
          <input
            formControlName="username"
            type="text"
            id="username"
            class="peer block w-full rounded-md border bg-transparent px-4 py-2 text-[#a8f0b2] focus:outline-none focus:ring-2 focus:ring-primary"
            placeholder=" "
            required />
          <label
            for="username"
            class="absolute top-2 left-3 z-10 origin-[0] -translate-y-4 scale-95 transform bg-[#0f1e13] px-2 text-sm text-[#a8f0b2] duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
            ชื่อผู้ใช้
          </label>
        </div>

        <!-- Email -->
        <div class="relative">
          <input
            formControlName="email"
            type="email"
            id="email"
            class="peer block w-full rounded-md border bg-transparent px-4 py-2 text-[#a8f0b2] focus:outline-none focus:ring-2 focus:ring-primary"
            placeholder=" "
            required />
          <label
            for="email"
            class="absolute top-2 left-3 z-10 origin-[0] -translate-y-4 scale-95 transform bg-[#0f1e13] px-2 text-sm text-[#a8f0b2] duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
            อีเมล
          </label>
        </div>

        <!-- Password -->
        <div class="relative">
          <input
            formControlName="password"
            [type]="passwordTextType ? 'text' : 'password'"
            id="password"
            class="peer block w-full rounded-md border bg-transparent px-4 py-2 text-[#a8f0b2] focus:outline-none focus:ring-2 focus:ring-primary"
            placeholder=" "
            required />
          <label
            for="password"
            class="absolute top-2 left-3 z-10 origin-[0] -translate-y-4 scale-95 transform bg-[#0f1e13] px-2 text-sm text-[#a8f0b2] duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
            รหัสผ่าน
          </label>
          <span class="absolute top-2.5 right-5 cursor-pointer text-[#a8f0b2]" (click)="togglePasswordTextType()">
            <svg-icon
              [src]="
                !passwordTextType
                  ? 'assets/icons/heroicons/outline/eye-off.svg'
                  : 'assets/icons/heroicons/outline/eye.svg'
              "
              [svgClass]="'h-5 w-5'">
            </svg-icon>
          </span>
        </div>

        <!-- Confirm Password -->
        <div class="relative">
          <input
            formControlName="confirmPassword"
            [type]="confirmPasswordTextType ? 'text' : 'password'"
            id="confirm-password"
            class="peer block w-full rounded-md border bg-transparent px-4 py-2 text-[#a8f0b2] focus:outline-none focus:ring-2 focus:ring-primary"
            placeholder=" "
            required />
          <label
            for="confirm-password"
            class="absolute top-2 left-3 z-10 origin-[0] -translate-y-4 scale-95 transform bg-[#0f1e13] px-2 text-sm text-[#a8f0b2] duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
            ยืนยันรหัสผ่าน
          </label>
          <span
            class="absolute top-2.5 right-5 cursor-pointer text-[#a8f0b2]"
            (click)="toggleConfirmPasswordTextType()">
            <svg-icon
              [src]="
                !confirmPasswordTextType
                  ? 'assets/icons/heroicons/outline/eye-off.svg'
                  : 'assets/icons/heroicons/outline/eye.svg'
              "
              [svgClass]="'h-5 w-5'">
            </svg-icon>
          </span>
        </div>
      </div>

      <!-- Submit Button -->
      <div>
        <app-button
          (click)="onSubmit()"
          [disabled]="isLoading"
          full
          impact="bold"
          tone="success"
          shape="rounded"
          size="medium"
          class="bg-[#4caf50] hover:bg-[#388e3c]">
          {{ isLoading ? 'กำลังส่งข้อมูล...' : 'ลงทะเบียน' }}
        </app-button>
      </div>

      <!-- Login Link -->
      <div class="flex justify-center text-center text-sm text-[#a8f0b2]">
        มีบัญชี้ผู้ใช้อยู่แล้ว?
        <app-button routerLink="/auth/sign-in" impact="none" tone="primary" shape="rounded" size="small">
          เข้าสู่ระบบ
        </app-button>
      </div>
    </form>
  </div>
</div>
